body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    color: #222;
    transition: 0.3s;
}

.dark-mode {
    background: #1c1c1c;
    color: #eee;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #222;
    color: white;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a.active {
    border-bottom: 2px solid yellow;
}

#darkModeBtn {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 8px;
}

.hero {
    text-align: center;
    padding: 60px;
}

.content {
    padding: 40px;
}

.project {
    margin-bottom: 20px;
    background: #ddd;
    padding: 15px;
    border-radius: 10px;
}

.dark-mode .project {
    background: #333;
}
